.container
  .row
    .col-sm-6.col-sm-offset-1
      %h3= "#{@student.email}'s dashboard"
      %h3= link_to "My profile", student_profile_path(:id => @student.id)
      - if @student.has_a_teacher
        %h3 Current teacher:
        - @student.current_teachers.each do |relationship|
          %h5 Name: #{@teachers.find(relationship.teacher_id).teacher_profile.name}
          %h5 Skype username: #{@teachers.find(relationship.teacher_id).teacher_profile.skype_username}
        %h3 Class materials:
        - @student.class_materials.each do |material|
          .class
            %h5 Date: #{material.date}
            %h5 Link: #{material.link}
      - elsif @student.has_pending_teacher_requests
        .pending
          %h3 Pending requests:
          - @student.pending_teacher_requests.each do |relationship|
            %h4 #{@teachers.find(relationship.teacher_id).teacher_profile.name}
            =link_to 'Undo request', relationship_path(relationship.id), method: :delete
