= form_for @teacher_profile, html: { multipart: true } do |f|
  - if @teacher_profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@teacher_profile.errors.count, "error")
        prohibited this pin from being saved:
      %ul
        - @teacher_profile.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :image
    = f.file_field :image, class: "form-control"
    = f.label :name
    = f.text_field :name, class: "form-control"
    = f.label :skype_username
    = f.text_field :skype_username, class: "form-control"
    = f.label :bio
    = f.text_field :bio, class: "form-control"
  .form-group
    = f.submit class: "btn btn-primary"
