%p#notice= notice
%h1 Teachers
%h1 Choose a teacher!
#teacher_profiles
  %table
    %thead
      %tr
        %th
          Name
        %th Bio
        %th{:colspan => "2"}
    %tbody
      - @teachers.each do |teacher|
        - if teacher.teacher_profile
          %tr
            %td= link_to "#{teacher.teacher_profile.name}", {controller: "relationships", action: "create", teacher_id: teacher.id}, method: :post
            %td= teacher.teacher_profile.bio
            - if teacher == current_teacher
              %td= link_to 'Edit My Profile', edit_teacher_profile_path(teacher.teacher_profile)
