#teacher_profiles
  %p#notice= notice
  %h1 Teachers
  - @teachers.each do |teacher|
    .teacher_profile_box
      - if teacher.teacher_profile
        = image_tag teacher.teacher_profile.image.url(:medium)
        = link_to "#{teacher.teacher_profile.name}", {controller: "relationships", action: "create", teacher_id: teacher.id}, method: :post
        = teacher.teacher_profile.bio
        - if teacher == current_teacher
          = link_to 'Edit My Profile', edit_teacher_profile_path(teacher.teacher_profile)
