= form_for(@student_profile) do |f|
  - if @student_profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@student_profile.errors.count, "error")
        prohibited this pin from being saved:
      %ul
        - @student_profile.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
    = f.label :native_language
    = f.text_field :native_language, class: "form-control"
    = f.label :learning_objectives
    = f.text_field :learning_objectives, class: "form-control"
    = f.label :skype_username
    = f.text_field :skype_username, class: "form-control"
  .form-group
    = f.submit class: "btn btn-primary"
