<%= @student.email %>'s profile
<% if @student.student_profile == nil %>
  <h1>You do not have a profile yet</h1>
  <%= link_to 'Create Profile', new_student_profile_path %>
<% else %>
  <%= @student.student_profile.name %>
  <%= @student.student_profile.native_language %>
  <%= @student.student_profile.learning_objectives %>
  <%= link_to 'Edit profile', edit_student_profile_path(@student.student_profile.id) %>
  <% unless @student.has_a_teacher %>
    <%= link_to 'Find a teacher', teacher_profiles_path %>
  <% end %>
<% end %>
