%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      .container.alert-msg
      - flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert alert-info")
      %end
      %button.navbar-toggle{"data-target" => "#navbar-collapse-main", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#navbar-collapse-main
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#why-us"}
            Why Us
        %li
          %a{:href => "#services-list"}
            Services
        %li
          %a{:href => "#pricing"}
            Pricing
        - if student_signed_in?
          Welcome, #{current_student.email}
          %li
            = link_to "Log out", destroy_student_session_path(protocol: "https"), method: :delete
        - elsif teacher_signed_in?
          %li
            = link_to "Log out", destroy_teacher_session_path(protocol: "https"), method: :delete
        - else
          %li
            = link_to 'Sign In', new_student_session_path, :remote => true, 'data-toggle' => "modal", 'data-target' => "#myModal", :method => 'get'
.modal.fade#myModal{:role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        .container
          .row
            .col-md-3.sign-in-form
              %h1 Sign in
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .field
                  = f.label :email
                  %br/
                  = f.email_field :email, autofocus: true, class: 'textfield'
                .field
                  = f.label :password
                  %br/
                  = f.password_field :password, autocomplete: "off", class: 'textfield'
                  %br/
                  = f.submit "Log in", class: "btn btn-success login-button"
                  = link_to "Forgot your password?", new_password_path(resource_name)
            .col-md-3.sign-up-prompt
              %h1 No account?
              %h4 No worries- First class is on us.
              %button.btn.btn-primary.btn-large.register-btn= link_to "Register now", new_registration_path(resource_name)
