%html
  %head
    %title Etl
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
  %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
    -# = link_to "ETL", root_path, class: "navbar-brand"
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => "#navbar-collapse-main", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/"}
          ETL
      .collapse.navbar-collapse#navbar-collapse-main
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#why_us"}
              Why Us
          %li
            %a{:href => "#services"}
              Services
          %li
            %a{:href => "#pricing"}
              Pricing
          - if student_signed_in?
            Welcome, #{current_student.email}
            %li
              = link_to "Log out", destroy_student_session_path(protocol: "https"), method: :delete
          - elsif teacher_signed_in?
            %li
              = link_to "Log out", destroy_teacher_session_path(protocol: "https"), method: :delete
          - else
            %li
              %a{:url => "/students/sign_in", :href =>"../devise/sessions/new", "data-toggle" => "modal", "data-target" => "#myModal"}
                Student Sign In
            %li
              %a{:url => "/teachers/sign_in", :href => "../devise/sessions/new", "data-toggle" => "modal", "data-target" => "#myModal"}
                Teacher Sign In

  %section
  .home#home
    .text-vcenter
      %h1
        Can You Really Improve Your English From Home?
      - if current_student
        %end
      %a.btn.btn-default.btn-lg{:href => "#book-a-free-lesson"}
        Continue
  %section#book-a-free-lesson
  .pad-section.why-us
    .container
      .row
        -# .col-sm-6
        .col-sm-6.text-center
    %article
      %h3
        Yes! You can now learn English online with Skype English classes, enjoy high quality engaging lessons given by our trusted native English teachers - no matter where in the world you are.
      %h1
        StaticPages#book_a_free_lesson
      %p
        Find me in app/views/static_pages/book_a_free_lesson.html.haml
  %section#why_us
  .pad-section.why-us
    .container
      .row
        -# .col-sm-6
        .col-sm-6.text-center
        %h1
          Why Choose English Tutors Live?
          %h2
            With dozens of options available for taking English online classes, here are some ways that we set ourselves apart:
          %ul
            %li
              All Lessons via Skype, English Online at its best No need to commute to class ever again. With the freedom offered by technology, you can now enjoy a one-on-one English online classes in the comfort of your own home, at a time that suits you.
            %li
              Classes to Suit Your Schedule Our teachers are available from 8:00 am to 8:00 pm, Monday to Friday. What’s more, you can schedule up to 10 lessons at one time with our english tutors – with each class on different days and times if required.
            %li
              Completely Personalised to Suit Your Needs Each lesson is customised to fit your particular requirements. We rely on our expert teachers to closely follow you to deliver an ever-changing online English course curriculum that is fully designed to identify and improve each area that needs work.
            %li
              Overview of Every Class After each class, you’ll receive a simple overview of any new vocabulary or grammar learned. In addition, your teacher will note any persistent mistakes you have been making, so that you can quickly correct them and get closer to fluency.
            %li
              Short and Intensive online english classes (25 Min) which conform to your busy schedule Because all lessons require no travel time, you can enjoy shorter classes and/or greater frequency. Shorter classes mean each class is fully maximised and is free from time-wasting activities (unlike traditional classroom lessons of 1-2 hours). And because each class is only 25 minutes, depending on your needs, you can choose to take class 2 or 3 times a week, without significant cost. And of course if you require it, 50 minute classes are also available.
            %li
              Intensive & Dynamic Lessons by Experienced Teachers Our teachers are highly qualified, each with years of experience. All hold certificates in CELTA, TESOL or TEFL. More importantly, they love teaching English online and strive to make your experience as fun, enjoyable and effective as possible.
            %li
              No Contracts We don’t believe in forcing you to commit to any number of classes. That’s why we offer the choice to purchase single classes. Of course, for significant savings, you can purchase classes in blocks of 5, 10 or more.
            %li
              Reschedule Your Classes Without Penalty We understand that you probably lead a busy life. That”s why you have the ability to cancel classes 12 hours in advance without having to pay for that class.
  %section#pricing
    %section#pricing-table
      .container
        .row
          .pricing
            .col-md-4.col-sm-12.col-xs-12
              .pricing-table.table_one
                .pricing-header
                  %p.pricing-title Conversation Class
                  %p.pricing-rate
                    %sup  ‎ ‎€
                    9
                    %span /25 mins
                  %a.btn.btn-custom{:href => "#"} And Get Free Month
                .pricing-list
                  %ul
                    %li
                      %i.fa.fa-envelope>
                      1,000 messages
                    %li
                      %i.fa.fa-signal
                      %span limited
                      data
                    %li
                      %i.fa.fa-user
                      %span limited
                      users
                    %li
                      %i.fa.fa-smile-o>
                      first 10 day free
            .col-md-4.col-sm-12.col-xs-12
              .pricing-table.table_two
                .pricing-header
                  %p.pricing-title Premium Class
                  %p.pricing-rate
                    %sup ‎€
                    11
                    %span /25 mins
                  %a.btn.btn-custom{:href => "#"} And Get Free Month
                .pricing-list
                  %ul
                    %li
                      %i.fa.fa-envelope>
                      10,000 messages
                    %li
                      %i.fa.fa-signal
                      %span unlimited
                      data
                    %li
                      %i.fa.fa-user
                      %span unlimited
                      users
                    %li
                      %i.fa.fa-smile-o>
                      first 10 day free
            .col-md-4.col-sm-12.col-xs-12
              .pricing-table.table_three
                .pricing-header
                  %p.pricing-title Specialist Class
                  %p.pricing-rate
                    %sup ‎€
                    13
                    %span /25 mins
                  %a.btn.btn-custom{:href => "#"} And Get Free Month
                .pricing-list
                  %ul
                    %li
                      %i.fa.fa-envelope>
                      10,0000 messages
                    %li
                      %i.fa.fa-signal
                      %span unlimited
                      data
                    %li
                      %i.fa.fa-user
                      %span unlimited
                      users
                    %li
                      %i.fa.fa-smile-o>
                      first 10 day free
  %section#services
    %article
      %h1
        Our range of services will help you learn English on your terms, focusing on your specific needs
      %p
        When it comes to learning and improving in English, everyone”s needs are different. That”s why we offer several different services to fit your exact needs:
      .row
        .col-md-4.icon
          %span.glyphicon.glyphicon-pencil
          %br
          %a{:href => "#conversation-serv"}Conversation
        .col-md-4.icon
          %span.glyphicon.glyphicon-pencil
          %br
          %a{:href => "#general-english-serv"}General English
        .col-md-4.icon
          %span.glyphicon.glyphicon-pencil
          %br
          %a{:href => "#business-english-serv"}Business English
      .row
        .col-md-4.icon
          %span.glyphicon.glyphicon-pencil
          %br
          %a{:href => "#legal-english-serv"}Legal English
        .col-md-4.icon
          %span.glyphicon.glyphicon-pencil
          %br
          %a{:href => "#spec-purposes-serv"}English For Special Purposes
        .col-md-4.icon
          %span.glyphicon.glyphicon-pencil
          %br
          %a{:href => "#exam-prep-serv"}Exam Preparation
      .row
        .col-md-4.icon
          %span.glyphicon.glyphicon-pencil
          %br
          %a{:href => "#job-interview-serv"}Job Interview Preparation
        .col-md-4.icon
          %span.glyphicon.glyphicon-pencil
          %br
          %a{:href => "#writing-practice-serv"}Writing Services

= yield
