!!!
%html
  %head
    %title
      Etl
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
    -# %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    - if student_signed_in?
      Welcome, #{current_student.email}
      = link_to "Log out", destroy_student_session_path(protocol: "https"), method: :delete
    - elsif teacher_signed_in?
      = link_to "Log out", destroy_teacher_session_path(protocol: "https"), method: :delete
    - else
      = link_to "Student sign in", new_student_session_path
      = link_to "Teacher sign in", new_teacher_session_path
  %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
    -# = link_to "ETL", root_path, class: "navbar-brand"
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => "#navbar-collapse-main", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"}
          ETL
      .collapse.navbar-collapse#navbar-collapse-main
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/"}
              Home
          %li
            %a{:href => "/why_us"}
              Why Us
          %li
            %a{:href => "/services"}
              Services
          %li
            %a{:href => "/pricing"}
              Pricing
          %li
            %a{:href => "/book_a_free_lesson"}
              Book a Free Lesson
          %li
            %a{:href => "/contact"}
              Contact
          %li
            %a{:href => "/blog"}
              Blog
  %section
  .home#home
    .text-vcenter
      %h1
        Can You Really Improve Your English From Home?
      - if current_student
        %end
      %a.btn.btn-default.btn-lg{:href => "#about"}
        Continue
  %section#book-a-free-lesson
  .pad-section.why-us
    .container
      .row
        -# .col-sm-6
        .col-sm-6.text-center
    %article
      %h3
        Yes! You can now learn English online with Skype English classes, enjoy high quality engaging lessons given by our trusted native English teachers - no matter where in the world you are.
      %h1
        StaticPages#book_a_free_lesson
      %p
        Find me in app/views/static_pages/book_a_free_lesson.html.haml
  %section
  .pad-section.why-us
    .container
      .row
        -# .col-sm-6
        .col-sm-6.text-center
        %h1
          Why Choose English Tutors Live?
          %h2
            With dozens of options available for taking English online classes, here are some ways that we set ourselves apart:
          %ul
            %li
              All Lessons via Skype, English Online at its best No need to commute to class ever again. With the freedom offered by technology, you can now enjoy a one-on-one English online classes in the comfort of your own home, at a time that suits you.
            %li
              Classes to Suit Your Schedule Our teachers are available from 8:00 am to 8:00 pm, Monday to Friday. What’s more, you can schedule up to 10 lessons at one time with our english tutors – with each class on different days and times if required.
            %li
              Completely Personalised to Suit Your Needs Each lesson is customised to fit your particular requirements. We rely on our expert teachers to closely follow you to deliver an ever-changing online English course curriculum that is fully designed to identify and improve each area that needs work.
            %li
              Overview of Every Class After each class, you’ll receive a simple overview of any new vocabulary or grammar learned. In addition, your teacher will note any persistent mistakes you have been making, so that you can quickly correct them and get closer to fluency.
            %li
              Short and Intensive online english classes (25 Min) which conform to your busy schedule Because all lessons require no travel time, you can enjoy shorter classes and/or greater frequency. Shorter classes mean each class is fully maximised and is free from time-wasting activities (unlike traditional classroom lessons of 1-2 hours). And because each class is only 25 minutes, depending on your needs, you can choose to take class 2 or 3 times a week, without significant cost. And of course if you require it, 50 minute classes are also available.
            %li
              Intensive & Dynamic Lessons by Experienced Teachers Our teachers are highly qualified, each with years of experience. All hold certificates in CELTA, TESOL or TEFL. More importantly, they love teaching English online and strive to make your experience as fun, enjoyable and effective as possible.
            %li
              No Contracts We don’t believe in forcing you to commit to any number of classes. That’s why we offer the choice to purchase single classes. Of course, for significant savings, you can purchase classes in blocks of 5, 10 or more.
            %li
              Reschedule Your Classes Without Penalty We understand that you probably lead a busy life. That”s why you have the ability to cancel classes 12 hours in advance without having to pay for that class.
  %section
    %section#pricing-table
      .container
        .row
          .pricing
            .col-md-4.col-sm-12.col-xs-12
              .pricing-table
                .pricing-header
                  %p.pricing-title Conversation Class
                  %p.pricing-rate
                    %sup  ‎ ‎€
                    9
                    %span /25 mins
                  %a.btn.btn-custom{:href => "#"} And Get Free Month
                .pricing-list
                  %ul
                    %li
                      %i.fa.fa-envelope>
                      1,000 messages
                    %li
                      %i.fa.fa-signal
                      %span limited
                      data
                    %li
                      %i.fa.fa-user
                      %span limited
                      users
                    %li
                      %i.fa.fa-smile-o>
                      first 10 day free
            .col-md-4.col-sm-12.col-xs-12
              .pricing-table
                .pricing-header
                  %p.pricing-title Premium Class
                  %p.pricing-rate
                    %sup ‎€
                    11
                    %span /25 mins
                  %a.btn.btn-custom{:href => "#"} And Get Free Month
                .pricing-list
                  %ul
                    %li
                      %i.fa.fa-envelope>
                      10,000 messages
                    %li
                      %i.fa.fa-signal
                      %span unlimited
                      data
                    %li
                      %i.fa.fa-user
                      %span unlimited
                      users
                    %li
                      %i.fa.fa-smile-o>
                      first 10 day free
            .col-md-4.col-sm-12.col-xs-12
              .pricing-table
                .pricing-header
                  %p.pricing-title Specialist Class
                  %p.pricing-rate
                    %sup ‎€
                    13
                    %span /25 mins
                  %a.btn.btn-custom{:href => "#"} And Get Free Month
                .pricing-list
                  %ul
                    %li
                      %i.fa.fa-envelope>
                      10,0000 messages
                    %li
                      %i.fa.fa-signal
                      %span unlimited
                      data
                    %li
                      %i.fa.fa-user
                      %span unlimited
                      users
                    %li
                      %i.fa.fa-smile-o>
                      first 10 day free
  %section#services
    %article
      %h1
        Our range of services will help you learn English on your terms, focusing on your specific needs
      %p
        When it comes to learning and improving in English, everyone”s needs are different. That”s why we offer several different services to fit your exact needs:
      %ul
        %li
          %a{:href => "#conversation-serv"}Conversation
        %li
          %a{:href => "#general-english-serv"}General English
        %li
          %a{:href => "#business-english-serv"}Business English
        %li
          %a{:href => "#legal-english-serv"}Legal English
        %li
          %a{:href => "#spec-purposes-serv"}English For Special Purposes
        %li
          %a{:href => "#exam-prep-serv"}Exam Preparation
        %li
          %a{:href => "#job-interview-serv"}Job Interview Preparation
        %li
          %a{:href => "#writing-practice-serv"}Writing Services
        %li
          %a{:href => "#english-trans-serv"}English Translation
      %h2{:id => "conversation-serv"}
        Conversation
      %p
        These classes give you the opportunity to chat while you learn English in an informal way with your tutor about interesting and current topics. This is particularly useful for acquiring better fluency and listening skills. Real-time error correction, pronunciation and new vocabulary are key areas of focus. Each class is focused on a different topic in order to acquire a wide range of new vocabulary. To ensure maximum retention, each lesson begins with a quick review of the previous class”s vocabulary.
      %h2{:id => "general-english-serv"}
        General English
      %p
        Want to improve your English in many areas? Our teachers utilise a wide range of material in the form of videos, audio clips and articles to improve your skills in listening, speaking, writing and grammar. Relevant exercises and quizzes form a part of these highly dynamic lessons. Of course, based on your preference and your teacher”s recommendations, certain skills can be given priority over others. For eg., if you or your teacher thinks your grammar knowledge and use is not as strong as it should be, lessons can include more grammar practise, with specific exercises to teach what you need to learn.
      %h2{:id => "business-english-serv"}
        Business English
      %p
        Need to learn English to advance in your career or job? Becoming more proficient in English can offer significant advantages in the workplace and give you a significant edge over your peers.Examples of business skills practised:
      %ul
        %li Meetings
        %li Presentations
        %li Telephone Skills
        %li Job Interviews
        %li Negotiations
        %li Foreign Customs, Manners & Traditions
        %li Socialising / Idioms & Expressions
        %li Travel
        %li Management
        %li Communications
        %li Sales & Marketing
      %p
        Depending on your needs, lessons can be focused on one or more of the above topics, or on another specific area of focus.
      %h2{:id => "legal-english-serv"}
        Legal English
      %p
        Law is a field with extensive vocabulary and unique grammatical structures. Your tutor will be experienced in the study of law to ensure your needs are fully met.
      %h2{:id => "spec-purposes-serv"}
        English for Specific Purposes
      %p
        Does your current or future job require you to learn English which requires you to speak in a certain way? Whether you work in the service, hotel, medical, engineering or other industry, these classes will give you the vocabulary and speaking practice needed to succeed and excel in your field.
      %h2{:id => "exam-prep-serv"}
        Exam Preparation
      %p
        Preparing for an exam? Get a head start with your personal English tutor. We offer exam preparation for all of the official Cambridge exams including: FCE, CAE, Proficiency. All with teachers accredited with the CELTA qualification, so they penalize in knowing which aspects of English you need to learn. In addition, they can do preparation for any other exams both within the public education system and professional qualifications.
      %h2{:id => "job-interview-serv"}
        Job Interview Preparation
      %p
        Do you have an important interview in the near future? We can offer you intensive classes which practice interview skills with special attention and focus practicing the parts of English that you will need to use in your specific field, equipping you with the tools you need in order to excel in your interview while also learning skills which can readily be applied elsewhere.
      %h2{:id => "writing-practice-serv"}
        Writing Practice
      %p
        In addition to the spoken language, written English is an important aspect of the language both in terms of your studies and in many work situations which require competent use written English. As such, we offer the opportunity to practice your written English through specific assignments which are targeted so that you practice whats important and relevant. These are corrected outside of the class hours and sent to you before the next class so that part of the lesson can be dedicated to explaining your errors and giving advice on how to improve your written English.
      %h2{:id => "english-trans-serv"}
        English Translation
      %p
        We are online translators who are happy to work with you or independently to translate texts on a wide range of subjects. Although we translate into English primarily from Spanish, send us an inquiry about a text you’d like translated from another language and we will try to meet your needs. We also provide translations into Spanish, upon request. English Tutors Live prides itself on providing hassle and error free translations by skilled translators.
      %h5
        **Translation services are priced separately from classes, at €25 for the first page, and €0.08 per word thereafter.
  %section#contact
    %article
      %h1
        StaticPages#contact
      %p
        Find me in app/views/static_pages/contact.html.haml
    .container
      - flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert alert-info")
      %end
        = yield
